<!-- Page Content -->
    <div class="container">

      <!-- Introduction Row -->
      <h1 class="my-4">About Us
        <small>It's Nice to Meet You!</small>
      </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <!--<img class="rounded-circle img-fluid d-block mx-auto" src="/assets/gray_square_capital_one_2.png" alt="">-->
          <%= image_tag "man1_photo.png", :class => "rounded-circle img-fluid d-block mx-auto" %>
          <h3>Andy Knight
            <br><small>Head of Digital Design at a Leading Financial Institution</small>
          </h3>
          <p>
          
          “I worked with Faye Wolfe in her capacity as Managing Director at EffectiveUI. Faye was invaluable in bridging the relationship between agency and client. She was responsive, took the time to understand our business and needs, and madesure that we had the best resources aligned with our work. Faye always functioned like an extension of my team, and as a consequence, her agency always worked that way, too. I appreciated her contributions and enjoyed working with her.”
          
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <!--<img class="rounded-circle img-fluid d-block mx-auto" src="/assets/gray_square_IBM_2.png" alt="">-->
          <%= image_tag "man2_photo", :class => "rounded-circle img-fluid d-block mx-auto" %>
          <h3>Koran Dei-Anang
            <br><small>Mgr, Worldwide Software Online Commerce at IBM</small>
          </h3>
          <p>
          
          “I was fortunate to engage the services of Miss Wolfe and the technical team she led, when I was Manager responsible for Worldwide Software eCommerce sales at IBM. We were looking for innovative ways to simplify our customers' software acquisition process. Miss Wolfe’s work, in guiding us toward our final solution, was groundbreaking, creative, and transformational. She, and her team, brought outstanding listening and state-of-the art solution skills to our development process and made significant contributions toward the attainment of our transformation goals. Miss Wolfe, in my experience, is an outstanding professional and would be a superb contributor to any business team.”
          
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <!--<img class="rounded-circle img-fluid d-block mx-auto" src="/assets/gray_square_metlife_2.png" alt="">-->
          <%= image_tag "woman1_photo.png", :class => "rounded-circle img-fluid d-block mx-auto" %>
          <h3>Debra Cruz
            <br><small>Vice President, Digital and Social Experience at MetLife</small>
          </h3>
          <p>
          
          “I worked with Faye for years during my time at MetLife while she acted as managing director on my account. I counted on Faye to help grow our account, oversee the final strategy and execution of our ongoing projects, and do it with professionalism, genuine interest and empathy for everyone involved in the team. I would absolutely work with Faye again, given the chance.”
          
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <!--<img class="rounded-circle img-fluid d-block mx-auto" src="/assets/gray_square_patelco_2.png" alt="">-->
          <%= image_tag "woman2_photo", :class => "rounded-circle img-fluid d-block mx-auto" %>
          <h3>Elaine Hamann
            <br><small>VP, Digital at Patelco</small>
          </h3>
          <p>
          
          Faye is a tremendous asset to any team, and in my case, she has helped guide me in navigating the agency world over the years. I would turn to her for professional support and advice given any digital challenge. I've enjoyed Faye’s commitment to client satisfaction, and it is clear that she lives and breathes this lifestyle with genuine interest and dedication, both personally and professionally.”
          
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <!--<img class="rounded-circle img-fluid d-block mx-auto" src="/assets/gray_square_smithsonian_2.png" alt="">-->
          <%= image_tag "man3_photo.png", :class => "rounded-circle img-fluid d-block mx-auto" %>
          <h3>Randy Rieland
            <br><small>Digital Media Strategist and Contributing Writer in Innovations for Smithsonian.com</small>
          </h3>
          <p>
          
          “I had the pleasure of working with Faye during my time at Discovery Communications, and we have kept in touch over the years. She is a talented individual who is well-rounded in her approach to both business and life. I find her trustworthy and client-oriented, and would welcome the opportunity to work with her again in the future.”
          
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <!--<img class="rounded-circle img-fluid d-block mx-auto" src="/assets/TE_Logo2.png" alt="">-->
          <%= image_tag "man4_photo", :class => "rounded-circle img-fluid d-block mx-auto" %>
          <h3>TJ Rutkowski
            <br><small>Digital Strategy, Marketing, Product, Technology & Business Leader, TE Connectivity</small>
          </h3>
          <p>
          
          “At TIAA, I enjoyed working with Faye as our managing director. It was clear that she had a strong dedication to her clients and took our requests seriously and always with a sense of urgency when that was required. I found her fair in all of her negotiations with us, and would choose her again as our managing director if given the opportunity.”
          
          </p>
        </div>
      </div>

    </div>
    <!-- /.container -->